
.banner {
    position: relative;
    height: 373px;
    margin-top: 5px;
}
.banner .img-container {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 373px;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner .img-container img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.banner .img-container img.active {
    opacity: 1;
}
.banner .menu-container {
    position: absolute;
    width: 100%;
    height: 21px;
    bottom: 30px;
    text-align: center;
}
.banner .menu-container .item {
    display: inline-block;
    height: 7px;
    width: 21px;
    margin: 0 3px;
    background-color: #aca7a7;
}
.banner .menu-container .item.active {
    background-color: #a65959;
}