body {
    position: relative;
    box-sizing: content-box;
    background: url(img/web-bg.jpg);
    padding-bottom: 59px; /* 为版权占位 */
}
/* 网站基础样式，定义头部尾部和其他基础样式 */
/* 清除浮动 */
.c-f,
.clear-float {
    zoom: 1; /* 兼容IE7及以下 */
}
.c-f:after,
.clear-float:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.hide {
    display: none;
}
.t-c {
    text-align: center;
}

.data-empty {
    text-align: center;
    color: #a8a8a8;
    padding: 5px 0;
}
.space-15 {
    height: 15px;
}
/* 中间部分 */
.page-body {
    border-top: 1px solid #faf8ef;

}
/* 尾部 */
.footer {
    /*width: 1024px;*/
    /*padding-top: 250px;*/
    /*height: 52px;*/
    /*margin: 0 auto;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #faf8ef;
    background-color: rgba(255,255,255,.5);
    color: #585858;
    text-align: center;
    font-size: 12px;
}