/* 网站基础样式，定义头部尾部和其他基础样式 */
/* 清除浮动 */
.c-f,
.clear-float {
    zoom: 1; /* 兼容IE7及以下 */
}
.c-f:after,
.clear-float:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
/* 头部 */
.header {
    height: 283px;
    background-image: url(img/header-bg.png);
}
.header .nav {
    position: relative;
    width: 1024px;
    height: 118px;
    padding-top: 164px;
    margin: 0 auto 0 auto;
    background: url(img/nav-icon.png) 152px 158px no-repeat;
}
.header .nav .menu {
    width: 458px;
    padding-top: 65px;
    margin: 0 auto 0;
    text-align: center;
}
.header .nav .menu .nav-main-link {
    display: inline-block;
    width: 101px;
    height: 50px;
    background: url(img/nav-text.png) -17px -14px;
    cursor: pointer;
}
.header .nav .menu span {
    display: inline-block;
    width: 5px;
    height: 50px;
    background: url(img/nav-text.png) -2px -14px;
}
.header .nav .menu .a-1 {
    background-position: -17px -14px;
}
.header .nav .menu .a-2 {
    background-position: -112px -14px;
}
.header .nav .menu .a-3 {
    background-position: -214px -14px;
    position: relative;
}
.header .nav .menu .a-3 div {
    display: none;
    position: absolute;
    width: 160px;
    top: 46px;
    left: -35px;
    z-index: 10;
    background: #EBE5BF;
    text-align: center;
    padding: 5px 0;
}
.header .nav .menu .a-3:hover div {
    display: block;
}
.header .nav .menu .a-3 div a {
    display: block;
    padding: 5px 15px;
    color: #040100;
    text-decoration: none;
}
.header .nav .menu .a-3 div a:hover {
    background: #B5AB69;
}
.header .nav .menu .a-4 {
    width: 109px;
    background-position: -312px -14px;
}

/* 注册登录 */
.header .nav .user-link-container {
    position: absolute;
    top: 250px;
    right: 132px;
}
.user-link-container span {
    display: inline-block;
    width: 47px;
    height: 25px;
    background: url(img/nav-text.png) -11px -88px;
}
.user-link-container .login {
    background-position: -57px -88px;
}
.register-dialog {
    font-size: 12px;
}
.register-dialog div {
    padding: 5px 0;
}
.register-dialog label {
    display: inline-block;
    width: 140px;
    text-align: right;
}


/* 中间部分 */
.page-body {
    background-color: #faf8ef;
}
.banner {
    position: relative;
    height: 373px;
}
.banner .img-container {
    margin: 0 auto;
    width: 1024px;
    height: 373px;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner .menu-container {
    position: absolute;
    width: 100%;
    height: 21px;
    bottom: 30px;
    text-align: center;
}
.banner .menu-container .item {
    display: inline-block;
    height: 7px;
    width: 21px;
    margin: 0 3px;
    background-color: #aca7a7;
}
.banner .menu-container .item.active {
    background-color: #a65959;
}
.reel-container {
    padding-bottom: 18px;
    background: url(img/reel-bg.png) center bottom repeat-x;
}
.reel-top {
    width: 995px;
    height: 17px;
    margin: 16px auto 0;
    background: url(img/reel-top.png) center center no-repeat;
}
.reel-body {
    width: 942px;
    padding: 8px;
    border: solid 1px #d0d0ce;
    box-shadow: 1px 1px 2px #d0d0ce,-1px 1px 2px #d0d0ce;
    border-top: none;
    margin: 0 auto;
    background-color: #fff;
}
.reel-body .item-line {
    width: 293px;
    padding: 0 10px;
    float: left;
}
.reel-body .item {
    display: block;
    padding: 5px;
    width: 280px;
    overflow: hidden;
    margin: 10px 0;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 9px #949191;
}
.reel-body .item .cover {
    width: 100%;
}
.reel-body .item .title {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 0;
}
.reel-body .item .description {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}
/* 起名字部分 */
.chinese-name-container {

}
.chinese-name-container {
    width: 942px;
    margin: 0 auto;
}

/* 尾部 */
.footer {
    width: 1024px;
    padding-top: 250px;
    height: 52px;
    margin: 0 auto;
    background: url(img/footer-bg.png) center center no-repeat;
    color: #585858;
    text-align: center;
    font-size: 12px;
}