/* 网站基础样式，定义头部尾部和其他基础样式 */
/* 清除浮动 */
.c-f,
.clear-float {
    zoom: 1; /* 兼容IE7及以下 */
}
.c-f:after,
.clear-float:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.t-c {
    text-align: center;
}

.data-empty {
    text-align: center;
    color: #a8a8a8;
    padding: 5px 0;
}
.space-15 {
    height: 15px;
}
/* 中间部分 */
.page-body {
    background-color: #faf8ef;
}

/* 尾部 */
.footer {
    width: 1024px;
    padding-top: 250px;
    height: 52px;
    margin: 0 auto;
    background: url(img/footer-bg.png) center center no-repeat;
    color: #585858;
    text-align: center;
    font-size: 12px;
}
.user-container {
    width: 942px;
    padding: 8px;
    margin: 0 auto;
    border: solid 1px #d0d0ce;
    background-color: #ffffff;
    border-shadow: 1px 1px 2px #d0d0ce, -1px 1px 2px #d0d0ce;
}
.user-container .title {
    line-height: 1.5;
    border-bottom: 4px solid #aaaaaa;
    margin: 3px 0 5px 0;
}
.user-container .msg-line {
    line-height: 1.5;
}
.user-container .order-title {
    border-bottom: 2px solid #aaaaaa;
}
.order {
    margin: 10px 0;
    border-bottom: 1px solid #aaaaaa;
}
.order .item {
    float: left;
    background: url("img/plus.png") no-repeat 5px center;
    padding-left: 50px;
}
.order .item:first-child {
    background: none;
    padding: 0;
}
.order .item .product-picture {
    width: 150px;
    display: block;
}
.order .item .price {
    display: block;
    line-height: 1.5;
}
.order .total {
    background: url("img/equal.png") no-repeat 0 center;
    padding: 20px 0 20px 40px;
}
#buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin: -3px 0 0 20px;
    cursor: pointer;
}