
/* 起名字部分 */
.chinese-name-container {
    width: 833px;
    padding: 10px;
    margin: 0 auto;
}
.chinese-name-container .default-product {
}
.chinese-name-container .other-product-container {
}
.chinese-name-container .item,
.other-product-container .item {
    float: left;
    background: url("img/plus.png") no-repeat -2px 60px;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.chinese-name-container .product-picture {
    display: block;
    max-width: 830px;
}
.other-product-container .item .product-picture {
    width: 150px;
    height: 150px;
}
.chinese-name-container .price {
    clear: both;
    display: inline-block;
    padding: 10px 0;
    max-width: 170px;
}
.chinese-name-container .price input {
    margin-left: -19px;
}
.chinese-name-container .total {
    background: url("img/equal.png") no-repeat 0 center;
    padding: 20px 0 20px 40px;
}
.chinese-name-container .total:first-child {
    background: url("img/equal.png") no-repeat 5px center;
    padding: 149px 0 149px 50px;
}
#buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin: -3px 0 0 20px;
    cursor: pointer;
}