/* 头部 */
.header {
    height: 283px;
    background-image: url(img/header-bg.png);
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.header .nav {
    position: relative;
    width: 1024px;
    height: 118px;
    padding-top: 164px;
    margin: 0 auto 0 auto;
    background: url(img/nav-icon.png) 70px 158px no-repeat;
}
.header .nav .menu {
    width: 600px;
    padding-top: 44px;
    margin: 0 auto 0;
    text-align: center;
}
.header .nav .menu .nav-main-link {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: #19160d;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 32px;
}
.header .nav .menu span {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 32px;
    background: url(img/nav-text.png) -2px -27px;
}
.header .nav .menu .a-3 div {
    display: none;
    position: absolute;
    z-index: 100;
    width: 160px;
    background: #ebe5bf;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    opacity: .9;
}
.header .nav .menu .a-3:hover div {
    display: block;
}
.header .nav .menu .a-3 div a {
    display: block;
    padding: 5px 15px;
    color: #040100;
    text-decoration: none;
}
.header .nav .menu .a-3 div a:hover {
    background: #b5ab69;
}
/* 注册登录 */
.header .nav .user-link-container {
    position: absolute;
    top: 250px;
    right: 0px;
    color: #825b17;
}
.user-link-container span {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    line-height: 25px;
    cursor: pointer;
}
.user-link-container .login {
    background-position: -57px -88px;
}
.user-link-container .user-name {
    display: inline-block;
    color: #795008;
    text-decoration: none;
    line-height: 28px;
}
.register-dialog {
    font-size: 12px;
}
.register-dialog div {
    padding: 5px 0;
}
.register-dialog label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
.check-notice {
    color: red;
    padding-left: 5px;
}
.forget-password {
    color: #825b17;
    cursor: pointer;
}

