
/* 头部 */
.header {
    height: 283px;
    background-image: url(img/header-bg.png);
}
.header .nav {
    position: relative;
    width: 1024px;
    height: 118px;
    padding-top: 164px;
    margin: 0 auto 0 auto;
    background: url(img/nav-icon.png) 152px 158px no-repeat;
}
.header .nav .menu {
    width: 458px;
    padding-top: 65px;
    margin: 0 auto 0;
    text-align: center;
}
.header .nav .menu .nav-main-link {
    display: inline-block;
    width: 101px;
    height: 50px;
    background: url(img/nav-text.png) -17px -14px;
    cursor: pointer;
}
.header .nav .menu span {
    display: inline-block;
    width: 5px;
    height: 50px;
    background: url(img/nav-text.png) -2px -14px;
}
.header .nav .menu .a-1 {
    background-position: -17px -14px;
}
.header .nav .menu .a-2 {
    background-position: -112px -14px;
}
.header .nav .menu .a-3 {
    background-position: -214px -14px;
    position: relative;
}
.header .nav .menu .a-3 div {
    display: none;
    position: absolute;
    width: 160px;
    top: 46px;
    left: -35px;
    z-index: 10;
    background: #ebe5bf;
    text-align: center;
    padding: 5px 0;
}
.header .nav .menu .a-3:hover div {
    display: block;
}
.header .nav .menu .a-3 div a {
    display: block;
    padding: 5px 15px;
    color: #040100;
    text-decoration: none;
}
.header .nav .menu .a-3 div a:hover {
    background: #b5ab69;
}
.header .nav .menu .a-4 {
    width: 109px;
    background-position: -312px -14px;
}
/* 注册登录 */
.header .nav .user-link-container {
    position: absolute;
    top: 250px;
    right: 132px;
}
.user-link-container span {
    display: inline-block;
    width: 47px;
    height: 25px;
    background: url(img/nav-text.png) -11px -88px;
    cursor: pointer;
}
.user-link-container .login {
    background-position: -57px -88px;
}
.user-link-container .user-name {
    display: inline-block;
    color: #795008;
    text-decoration: none;
    line-height: 28px;
}
.register-dialog {
    font-size: 12px;
}
.register-dialog div {
    padding: 5px 0;
}
.register-dialog label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
.check-notice {
    color: red;
    padding-left: 5px;
}

